name: Build and the Test CI

on:
  push:
    branches:
      -main
  pull_request:
    branches:
      -main


jobs: 
  build:
    runs-on: ubuntu-latest
    steps: 
      - uses: action/checkout@v2
      - name: Install dependencies
        run: yarn
      - name: Build packages
        run: yarn build
      - name: Automated tests
        run: yarn test