name: Build and Test CI

on:
  push:
    branches:
      -master
  pull_request:
    branches:
      -master


jobs: 
  build:
    runs-on: ubuntu-latest
    steps: 
      - uses: action/checkout@v2
      - name: Install dep
        run: yarn
      - name: Build packages
        run: yarn build
      - name: Automated tests
        run: yarn test